Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name below:

In [1]:
NAME = "Maja Kubara"
STUDENT_ID = "14498863"

---

# Pandas and data-linkage

In [2]:
import pandas as pd
import numpy as np

## Basic Pandas functionality

#### Exercise 1: Basic Series Functionality
Create a pandas `Series` with values `[1, 3, 5, np.nan, 6, 8]` and display basic functionality like `describe()`,` count()`, `sum()` etc.

In [3]:
# Exercise 1
#create a list with np.nan
list_1 = [1,3,5,np.nan,6,8]
#create series from list
series_1 = pd.Series(list_1, copy=False).dropna()
#print describe, count, and sum functions
print(series_1.describe())
print(series_1.count())
print(series_1.sum())

count    5.000000
mean     4.600000
std      2.701851
min      1.000000
25%      3.000000
50%      5.000000
75%      6.000000
max      8.000000
dtype: float64
5
23.0

In [4]:
# Test for Exercise 1
assert series_1.sum() == 23, "Check your series values."

#### Exercise 2: Series with Custom Index
Create a `Series` with values `[30, 35, 40]` and indices `['Alice', 'Bob', 'Charlie']`.

In [5]:
# Exercise 2
#create a dictionary
dict_2 = {'Alice':30, 'Bob':35, 'Charlie':40}
#create series from a dictionary
series_2 = pd.Series(data=dict_2, index=['Alice', 'Bob', 'Charlie'])
print(series_2)

Alice      30
Bob        35
Charlie    40
dtype: int64

In [6]:
# Test for Exercise 2
assert 'Bob' in series_2, "Ensure your series has the correct index."

#### Exercise 3: Selection in Series
Select and print the age of Bob from the `Series` created in Exercise 2.

In [7]:
# Exercise 3
#extract bob's age from the series_2
age_bob = series_2['Bob']
print(age_bob)

35

In [8]:
# Test for Exercise 3
assert age_bob == 35, "Check the value you extracted for Bob's age."

#### Exercise 4: Filtering Condition
Filter and display elements in `series_2` that are greater than 35.

In [9]:
# Exercise 4
# filter series using loc, for number greater than 35
filtered_series = series_2.loc[lambda x: x > 35]
print(filtered_series)

Charlie    40
dtype: int64

In [10]:
# Test for Exercise 4
assert filtered_series['Charlie'] == 40, "Check your filtering condition."

#### Exercise 5: Creating a DataFrame
Create a DataFrame using the dictionary below and assign it to a variable named `df`.

In [11]:
#Create a dictionary
data = {
    'Age': [24, 27, 30, 35],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana']
}

# Exercise 5
# create a dataframe from dictionary
df = pd.DataFrame.from_dict(data)
print(df)

   Age     Name
0   24    Alice
1   27      Bob
2   30  Charlie
3   35    Diana

In [12]:
# Test for Exercise 5
assert 'Name' in df, "Ensure your DataFrame contains the correct columns."

#### Exercise 6: Retrieving the Index or Columns
Retrieve and print the index and columns of the `DataFrame` created in Exercise 5.

In [13]:
# Exercise 6
# save indexes and column names in variables
index_df = df.index
columns_df = df.columns
# print variables
print(index_df)
print(columns_df)

RangeIndex(start=0, stop=4, step=1)
Index(['Age', 'Name'], dtype='object')

In [14]:
# Test for Exercise 6
assert len(index_df) == 4 and len(columns_df) == 2, "Check your index and columns extraction."

#### Exercise 7: Data Extraction with loc, iloc, and []
Extract and print the `Age` of `Alice` using `loc`, `iloc`, and `[]` from the `DataFrame` created in Exercise 5.

In [15]:
# Exercise 7
# extract data using, loc, iloc and brackets []
age_alice_loc = df.loc[0, 'Age']
age_alice_iloc = df.iloc[0,0]
age_alice_bracket = df['Age'][0]

In [16]:
# Test for Exercise 7
assert age_alice_loc == 24 and age_alice_iloc == 24 and age_alice_bracket == 24, "Check your data extraction methods."

## Health Datasets

Cool! Now that we have learned how pandas works, let's start using it with some data. 

### Exercise: Deterministic Data Linkage

You will practice deterministic data linkage using synthetic datasets: `PatientDemo.csv` and `PatientVisits.csv`. Link these datasets using the `PatientID` field and perform analysis on the linked data.

In [17]:
# Load the datasets as dataframes
patient_df = pd.read_csv('PatientDemo.csv')
visits_df = pd.read_csv('PatientVisits.csv')

Now let's explore the data that we have to see if we can find how to link both datasets.

In [18]:
# Display dataframes
display(patient_df.head())
display(visits_df.head())

# Count length of each dataframe, to see if the length is the same
number_of_patients = len(patient_df.loc[:,'PatientID'])
number_of_visits = len(visits_df.loc[:, 'PatientID'])

   PatientID  FirstName LastName DateOfBirth Gender  ZipCode
0          1      Megan    Mccoy  1968-01-28      F    34536
1          2  Katherine    Bruce  1942-02-11      F    73685
2          3     Robert  Sanchez  1955-05-30      M    41751
3          4   Jonathan   Dennis  1985-07-04      F    48590
4          5    William   Wilson  1948-07-01      F    74880

   VisitID  PatientID   VisitDate DiagnosisCode TreatmentCode
0      101          1  2022-01-29           D90           T36
1      102          2  2023-05-09           D29           T18
2      103          3  2022-06-27            D6           T31
3      104          4  2023-01-14           D74           T98
4      105          5  2022-11-21           D82           T62

In [19]:
# Print length
print(number_of_patients)
print(number_of_visits)

100
100

### Data Linkage
Perform deterministic data linkage by merging the `patient_df` and `visits_df` DataFrames using the `PatientID` field. Store the result in a new DataFrame called `merged_df`.
```python

In [20]:
merged_df = pd.merge(patient_df, visits_df, on = 'PatientID')
display(merged_df)

,PatientID,FirstName,LastName,DateOfBirth,Gender,ZipCode,VisitID,VisitDate,DiagnosisCode,TreatmentCode
0,1,Megan,Mccoy,1968-01-28,F,34536,101,2022-01-29,D90,T36
1,2,Katherine,Bruce,1942-02-11,F,73685,102,2023-05-09,D29,T18
2,3,Robert,Sanchez,1955-05-30,M,41751,103,2022-06-27,D6,T31
3,4,Jonathan,Dennis,1985-07-04,F,48590,104,2023-01-14,D74,T98
4,5,William,Wilson,1948-07-01,F,74880,105,2022-11-21,D82,T62
...,...,...,...,...,...,...,...,...,...,...
95,96,Sabrina,Morales,1939-01-12,F,52118,196,2020-04-13,D11,T13
96,97,Laura,Miles,1940-08-24,F,73439,197,2023-05-27,D43,T61
97,98,Christopher,Barnes,1940-07-14,M,68527,198,2020-05-11,D95,T51
98,99,Chloe,Bates,1951-10-08,M,38488,199,2022-03-13,D6,T81
99,100,Tom,Williams,1984-02-10,M,59292,200,2023-09-11,D70,T11

### Questions

1. How many records are in the `merged_df` DataFrame?
2. What is the average age of patients in `merged_df`?

In [21]:
# Question 1: How many records are in the merged_df DataFrame?

# Use len function
num_records = len(merged_df)

# Question 2: What is the average age of patients in merged_df?

# Hint: You can use the datetime module to get the current year.
from datetime import datetime

#Convert date to datetime format
dateofbirth = pd.to_datetime(merged_df['DateOfBirth'])
#Set current year
current_year = datetime.now().year
#Count age
age = current_year - dateofbirth.dt.year
#Count average
average_age = age.mean()

In [22]:
print(f'There are {num_records} records in the merged dataframe')
print(f'The avergae age of patients is {average_age}')

There are 100 records in the merged dataframe
The avergae age of patients is 52.22

# Probabilistic Data Linkage

Probabilistic data linkage is a technique used to bring together records from different datasets that do not share a unique identifier but have other fields in common. Unlike deterministic linkage, which requires exact matches on shared fields, probabilistic linkage considers the likelihood that two records refer to the same entity based on the similarity between these shared fields. This approach is particularly useful when working with data that may contain errors, variations, or inconsistencies in how information is recorded.

## Challenges in Data Linkage

- **Data Quality:** Datasets often have missing, misspelled, or inconsistently formatted data.
- **Variability:** The same entity might be represented slightly differently in different datasets, due to typos, abbreviations, or variations in how data is entered.
- **Absence of Unique Identifiers:** There might not be a unique, consistent identifier shared across datasets.

## Approach

Probabilistic linkage typically involves the following steps:

1. **Selecting Variables:** Choosing which fields (or combinations of fields) will be used to link records between datasets.
2. **Measuring Similarity:** Calculating a similarity score between records based on the selected variables.
3. **Setting Thresholds:** Determining a similarity threshold above which records will be considered a match.

Various similarity or distance metrics can be used in step 2, depending on the nature of the data and the specific requirements of the linkage task. One such metric, designed to handle some of the challenges mentioned above, is the Jaro-Winkler Distance, which you have seen in the lecture about data linkage.


## Understanding Jaro-Winkler Distance

The Jaro-Winkler Distance (JWD) is a measure of similarity between two strings. It is a variant of the Jaro distance metric and is mainly used in the area of record linkage. The Jaro-Winkler Distance metric is designed to capture similarity between two strings while accounting for possible errors such as typos and characters out of place.

**Mathematical Definition**

The Jaro-Winkler Distance between two strings $ s1 $ and $ s2 $ is calculated as follows:

1. **Jaro Distance Calculation:**
    - Let $ m $ be the number of matching characters between the two strings.
    - Let $ t $ be the number of transpositions between the two strings.
    - The Jaro distance $ d_j $ is then given by the formula:
    $$
    d_j = \frac{1}{3} \left( \frac{m}{|s1|} + \frac{m}{|s2|} + \frac{m-t}{m} \right)
    $$
    where $ |s1| $ and $ |s2| $ are the lengths of the strings $ s1 $ and $ s2 $ respectively.

2. **Jaro-Winkler Distance Calculation:**
    - Let $ l $ be the length of common prefix at the start of the string (maximum 4 characters).
    - The Jaro-Winkler distance $ d_{jw} $ is then given by the formula:
    $$
    d_{jw} = d_j + l p (1 - d_j)
    $$
    where $ p $ is a constant scaling factor (usually set to $ 0.1 $).

**Interpretation**

- The Jaro-Winkler Distance ranges from $ 0 $ to $ 1 $, where $ 0 $ represents completely dissimilar strings and $ 1 $ represents identical strings.
- The distance is symmetric, meaning $ d_{jw}(s1, s2) = d_{jw}(s2, s1) $.
- It is particularly useful for short strings and for applications where the strings being compared have small length variations, making it widely used in record linkage tasks.
- The Jaro-Winkler adjustment gives more favorable ratings to strings that match from the beginning, making it useful for cases where the position of characters in the string is important.

**Example**

For instance, the strings "MARTHA" and "MARHTA" have a Jaro distance of approximately $ 0.944 $ and a Jaro-Winkler Distance of approximately $ 0.961 $ with a prefix length of $ 3 $ and scaling factor $ p = 0.1 $.


## Exercise: Implement distance

Complete the function below by implementing the Jaro-Winkler Distance Calculation.

In [23]:
def jaro_winkler_distance(s1: str, s2: str) -> float:
    if not s1 or not s2:
        return 0.0

    m = 0  # Number of matching characters
    t = 0  # Number of transpositions
    l = min(len(s1), len(s2))  # Length of the shorter string

    # Compute the number of matching characters and transpositions
    for i in range(l):
        if s1[i] == s2[i]:
            m += 1
        elif s1[i] != s2[i] and (i == 0 or (i > 0 and s1[i - 1] == s2[i - 1])):
            t += 1

    # Compute the Jaro distance
    jaro = (1/3) * ((m / len(s1)) + (m / len(s2)) + ((m - t / 2) / m)) if m != 0 else 0.0
    
    # Compute the Jaro-Winkler distance
    p = 0.1  # Scaling factor (constant)
    l = 0  # Length of common prefix at the start of the string (max 4)
    for i in range(min(len(s1), len(s2), 4)):
        if s1[i] == s2[i]:
            l += 1
        else:
            break

    jaro_winkler = jaro + ( 1 * p * (1 - jaro))
    return jaro_winkler

In [24]:
assert jaro_winkler_distance('12', '1') == 0.85, 'Check your implementation.'
assert jaro_winkler_distance("SAME", "SAME") == 1.0, \
    f'Expected 1.0 for identical strings, but got {jaro_winkler_distance("SAME", "SAME")}'
assert jaro_winkler_distance("", "NOTSAME") == 0.0, \
    f'Expected 0.0 for empty string comparison, but got {jaro_winkler_distance("", "NOTSAME")}'

# Dataset Introduction

In this exercise, we will work with two synthetic datasets: `EmploymentData.csv` and `SocialNetworkData.csv`. These datasets represent a common scenario in data linkage projects where we have information about individuals spread across different sources.

## EmploymentData.csv

The `EmploymentData.csv` dataset contains information about employees in various companies. Each record provides details about an employee's first name (`EmployeeFirstName`), last name (`EmployeeLastName`), the company they work for (`Company`), their position (`Position`), and their employment start date (`StartDate`).

Here's a preview of the `EmploymentData.csv` structure:

| EmployeeFirstName | EmployeeLastName | Company  | Position                | StartDate  |
|-------------------|------------------|----------|-------------------------|------------|
| John              | Doe              | ABC Corp | Data Scientist          | 2022-01-15 |
| ...               | ...              | ...      | ...                     | ...        |

## SocialNetworkData.csv

The `SocialNetworkData.csv` dataset represents profiles from a professional social network. Each record includes the first name (`FirstName`), last name (`LastName`), current job title (`CurrentJobTitle`), the number of connections (`ConnectionsCount`), and the profile creation date (`ProfileCreationDate`).

Here's a preview of the `SocialNetworkData.csv` structure:

| FirstName | LastName | CurrentJobTitle       | ConnectionsCount | ProfileCreationDate |
|-----------|----------|-----------------------|------------------|---------------------|
| Jon       | Does     | Senior Data Scientist | 300              | 2018-06-05          |
| ...       | ...      | ...                   | ...              | ...                 |

## Objective

Your task is to link records between these datasets probabilistically, based on the similarity of names using the Jaro-Winkler distance measure you will implement. Due to potential variations in how names are represented in each dataset (e.g., nicknames, typos), the linkage process requires careful consideration and application of string similarity measures.

Load the `EmploymentData.csv` and `SocialNetworkData.csv` datasets into two separate DataFrames: `employment_df` and `network_df`.

In [25]:
# Load the employment data
employment_df = pd.read_csv('EmploymentData.csv')

# Load the social network data
network_df = pd.read_csv('SocialNetworkData.csv')

### Probabilistic Data Linkage
Use the `jaro_winkler_distance` function you implemented to link records between the `employment_df` and `network_df` DataFrames with the highest average similarity and a threshold of above 0.40. Store the result in a new DataFrame called `linked_df`.

In [26]:
threshold = 0.65
linked_records = []

# Iterate through employment_df
for idx1, row1 in employment_df.iterrows():
    highest_similarity = 0
    #best_match_index = -1
    # Iterate through network_df
    for idx2, row2 in network_df.iterrows():
        # Calculate Jaro winkler distance for first names, last names and find average 
        first_name_similarity = jaro_winkler_distance(row1['EmployeeFirstName'], row2['FirstName'])
        last_name_similarity = jaro_winkler_distance(row1['EmployeeLastName'], row2['LastName'])
        average_similarity = (first_name_similarity + last_name_similarity) / 2
        # Find the highest similarity
        if average_similarity > highest_similarity:
            data_row = row2
            highest_similarity = average_similarity
            #best_match_index = idx2
            # Save name
            name = row2['FirstName'] + ' ' + row2['LastName']
    # Set threshold for similarity
    if highest_similarity >= threshold:
        name1 = row1['EmployeeFirstName'] + ' ' + row1['EmployeeLastName'] 
        name2 = name
        # Append a list with tupils
        linked_records.append((name1,name2,highest_similarity)) 
# Create a dataframe from a list
records = pd.DataFrame(linked_records, columns = ['EmployeeName_1', 'EmployeeName_2', 'Similiarity'])
# Merge name and last name together in the dataframes
employment_df['EmployeeName_1'] = employment_df['EmployeeFirstName'] + ' ' + employment_df['EmployeeLastName']
network_df['EmployeeName_2'] = network_df['FirstName'] + ' ' + network_df['LastName']
# Merge all the dataframes together
linked_df = pd.merge(employment_df, records, on = 'EmployeeName_1')
linked_df = pd.merge(network_df, linked_df, on = 'EmployeeName_2')
# Drop columns
linked_df = linked_df.drop(columns = ['FirstName','LastName','EmployeeFirstName','EmployeeLastName'])

In [27]:
display(linked_df)

,CurrentJobTitle,ConnectionsCount,ProfileCreationDate,EmployeeName_2,Company,Position,StartDate,EmployeeName_1,Similiarity
0,Fisheries officer,278,2022-01-25,Megan Mccoy,Brown-Miles,Product manager,2021-03-31,Megan Mccoy,1.000000
1,"Development worker, community",82,2019-01-18,Katherine Bruce,Rose-Freeman,Plant breeder/geneticist,2022-01-01,Katherine Bruce,1.000000
2,Broadcast journalist,182,2020-10-03,Rob Sanchez,"Munoz, Smith and Williams",Pensions consultant,2020-05-21,Robert Sanchez,0.925000
3,Patent examiner,409,2019-06-27,J. Dennis,Collins-Owens,Air traffic controller,2020-10-15,Jonathan Dennis,0.718750
4,Patent examiner,409,2019-06-27,J. Dennis,Garcia Group,Housing manager/officer,2022-09-03,James Dennis,0.730000
...,...,...,...,...,...,...,...,...,...
95,"Engineer, building services",483,2022-07-07,Sabrina Morales,"Hale, Fisher and Torres",Pensions consultant,2022-04-08,Sabrina Morales,1.000000
96,Print production planner,433,2019-06-03,Laura Miles,Thomas PLC,IT sales professional,2021-06-12,Laura Miles,1.000000
97,"Engineer, energy",409,2022-05-25,C. Barnes,Livingston-Walls,Prison officer,2020-07-02,Christopher Barnes,0.713636
98,Theatre director,361,2023-07-09,Chloe Bates,Brown-Perry,"Engineer, electronics",2022-04-03,Chloe Bates,1.000000
99,Artist,385,2022-02-13,Tom Williams,Navarro Inc,Meteorologist,2023-08-28,Tom Williams,1.000000

## Evaluation of Data Linkage Results

After performing data linkage, it's crucial to evaluate the quality of our matches. This step helps identify potential errors and assess the effectiveness of our linkage technique.

To quantify the quality, we'll focus on two key metrics:
- **Precision**: Measures the correctness of the matches. A higher precision means fewer false positives.
- **Recall**: Measures the completeness of the matches. A higher recall means fewer true matches were missed.

Precision and recall are defined as:
$$ \text{Precision} = \frac{\text{True Positives (TP)}}{\text{True Positives (TP) + False Positives (FP)}} $$
$$ \text{Recall} = \frac{\text{True Positives (TP)}}{\text{True Positives (TP) + False Negatives (FN)}} $$

Using the ground truth (matches based on indices in this synthetic example), we can calculate these metrics to understand how well our linkage algorithm performed.

In [28]:
def evaluate_matches(employment_df, network_df):
    # Ground truth matches based on indices
    ground_truth = set([(idx, idx) for idx in employment_df.index if idx in network_df.index])

    # Matches made by the linkage algorithm
    predicted_matches = set([(idx1, idx2) for idx1, row1 in employment_df.iterrows() 
                            for idx2, row2 in network_df.iterrows() 
                            if (row1['EmployeeFirstName'], row1['EmployeeLastName']) == 
                                (row2['FirstName'], row2['LastName'])])

    # True Positives: Ground truth matches that are in the predicted matches
    TP = len(ground_truth.intersection(predicted_matches))

    # False Positives: Predicted matches that are not in the ground truth
    FP = len(predicted_matches.difference(ground_truth))

    # False Negatives: Ground truth matches that are not in the predicted matches
    FN = len(ground_truth.difference(predicted_matches))

    # Calculate Precision and Recall
    precision = TP / (TP + FP) if TP + FP > 0 else 0
    recall = TP / (TP + FN) if TP + FN > 0 else 0

    return precision, recall

### Set threshold
Now play around with the threshold and see how you could optimize the matching.

In [29]:
matches = evaluate_matches(employment_df, network_df)
print(matches)

(1.0, 0.73)

## Conceptual Exercise: Data Linkage with Different Measurement Scales

### Background
Imagine you are working with two datasets collected from two different social surveys conducted in a city:

1. **CityResidentSurvey.csv:**
   - **Age:** Age of the resident.
   - **Income:** Monthly income of the resident in USD.
   - **EducationLevel:** Highest level of education attained (coded as 1: High School, 2: Bachelor’s, 3: Master’s, 4: Doctorate).
   - **ResidentID:** A unique identifier for each resident in the survey.

2. **NeighborhoodWellbeingSurvey.csv:**
   - **Resident_Age:** Age of the resident, but with a ±2 years error margin due to the way it was collected.
   - **Annual_Income:** Yearly income of the resident in USD.
   - **Edu_Level:** Highest level of education attained, described with words (High School, Bachelor's Degree, Master's Degree, Doctorate).
   - **WellbeingIndex:** A score representing the resident’s perceived wellbeing.
   - **Resident_ID:** A unique identifier, but it does not match the ResidentID in the CityResidentSurvey.

### Task
You are tasked to link records between these two datasets. However, the data points are not measured exactly the same way in both datasets. Specifically:
- Age is measured with a ±2 years error in the second dataset.
- Income is reported monthly in the first dataset and annually in the second.
- Education levels are coded numerically in the first dataset and described with words in the second.

### Question
Describe a step-by-step approach to link records between the two datasets as accurately as possible. Consider the differences in the measurement scales and potential errors in the data. How would you account for these differences to improve the accuracy of your linkage? You don't have to write any code, just explain your approach conceptually.

Answer: 
1. I would estimate annual income in City resident survey
2. I would standarise the way the education level is described, change in neighbourhood wellbeing   survey education level to numbers as it is in city resident survey
3. Based on annual income and education level I would match the datasets
4. Then I would check if the age of the residents matches with an error of 2 years